@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 27px;
  line-height: 26px;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 0.5rem;
}

p,
span {
  font-size: 13px;
  line-height: 1.6em !important;
}

button {
  padding: 6px 8px;
  font-size: 13px;
  background-color: black;
  color: white;
  border-radius: 6px;
}
